.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;

  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding-right: 75px;
    padding-left: 75px;
  }
  
  @media screen and(min-width: 1024px) {
    max-width: 882px;
    padding-right: 71px;
    padding-left: 71px;
  }
}
