{{#each results}}
  <li class='hero-list__item'>
    <img src={{poster_path}} alt='' class='hero-list__img' />
    <p class='hero-list__title'>{{title}}</p>
    <p class='hero-list__desc'> | {{release_date}}</p>
  </li>
{{/each}}