{{#each this}}
<li class='cart-list__item'>
  <div class='cart-list__tumb'>
    <img src='${}' alt='${}' class='cart-list__img' />
    <p class='cart-list__title'>${}</p>
    <p class='cart-list__desc'>Drama, Action | ${}</p>
  </div>
</li>
{{/each}}