:root{
    --accent-cl: #FF6B01;
    --bg-text-cl: #FFFFFF;
    --bg-btn-modal-cl: #F7F7F7;
    --main-text-cl: #000000;
    --h-footer-cl:#545454;
    --h-modal-cl: #8C8C8C;
    --error-cl: #FF001B;
    --bg-footer: #E5E5E5;
};