<div class="fmodal is-hidden">
    <div class="fmodal__wrapper">
        <button class="fmodal__close-btn" id="f__close-btn">
            &#x2715;
        </button>
        <ul class="fcards-container">
            <li class="fcard-container card-margin2">
                <a href="https://github.com/LaraKhil">
                    <img class="card-img" src="./images/footer-photos/team-lead.jpg" atl="Team Lead" />
                    <div class="f-txt-container">
                        <p class="fname">Валерія Хілько</p>
                        <p class="fposition">Team Lead</p>
                    </div>
                </a>
                
            </li>
            <li class="fcard-container card-margin">
                <a href="https://github.com/Dave-Romano">
                    <img class="card-img" src="./images/footer-photos/scrum-master.jpg" alt="Scrum Master" />
                    <div class="f-txt-container">
                        <p class="fname">Давид Звінник</p>
                        <p class="fposition">Scrum Master</p>
                    </div>
                </a>
            </li>
            <li class="fcard-container card-margin2">
                <a href="https://github.com/Halamai">
                    <img class="card-img" src="./images/footer-photos/web-developer1.jpg" alt="Web Developer" />
                    <div class="f-txt-container">
                        <p class="fname">Паша Галамай</p>
                        <p class="fposition">Web Developer</p>
                    </div>
                </a>
                
            </li>
            <li class="fcard-container">
                <a href="https://github.com/tolikbairov">
                    <img class="card-img" src="./images/footer-photos/web-developer2.jpg" alt="Web Developer" />
                    <div class="f-txt-container">
                        <p class="fname">Анатолій Баіров</p>
                        <p class="fposition">Web Developer</p>
                    </div>
                </a>
            </li>
            <li class="fcard-container card-margin card-margin2">
                <a href="https://github.com/Evgeniy-the-Great">
                    <img class="card-img" src="./images/footer-photos/web-developer3.jpg" alt="Web Developer" />
                    <div class="f-txt-container">
                        <p class="fname">Євген Шаленко</p>
                        <p class="fposition">Web Developer</p>
                    </div>
                </a>
            </li>
            <li class="fcard-container">
                <a href="https://github.com/dnbdimka">
                    <img class="card-img" src="./images/footer-photos/web-developer4.jpg" alt="Web Developer" />
                    <div class="f-txt-container">
                        <p class="fname">Дмитро Шадурський</p>
                        <p class="fposition">Web Developer</p>
                    </div>
                </a>
            </li>
            <li class="fcard-container">
                <a href="https://github.com/MBersPro">
                    <img class="card-img" src="./images/footer-photos/web-developer5.jpg" alt="Web Developer" />
                    <div class="f-txt-container">
                        <p class="fname">Берс Мизаев</p>
                        <p class="fposition">Web Developer</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>