<!-- header -->
<h2 class="is-hidden">Filmoteka</h2>

<header class="header">
    <div class="container">
        
        <nav class="header__navigation">
            <a href="index.html" class='header__link'>
                <svg class="" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <p class="logo">Filmoteka</p>
            </a>
            <ul class="header__menu">
                <li><a href="index.html" class="header__link">Home</a></li>
                <li><a href=""  class=" header__link">MY LIBRERY</a></li>
            </ul>
        </nav>
        <div class="header__search">
            <form class="header__search-form">
                <input type="text" placeholder="Поиск фильмов" class='header__input'/>
                <button type="submit" id="button-search">
                    <svg class="button__search-svg" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-search-2"></use>
                    </svg>
                </button>
            </form>
            <p class="error is-hidden">Search result not successful. Enter the correct movie name and</p>
        </div>
    </div>


</header>