<section class="hero">
  <div class="container">
    <ul class="hero-list">
      <!-- <li class="hero-list__item">
        <div class="hero-list__tumb">
          <div class="img-container">
            <img src="../src/images/Rectangle.jpg" alt="" class="hero-list__img">
          </div>
          <p class="hero-list__title">GREYHOUND</p>
          <p class="hero-list__desc">Drama, Action | 2020</p>
        </div>
      </li> -->
      <!-- <li class="hero-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="hero-list__img">
        <p class="hero-list__title">GREYHOUND</p>
        <p class="hero-list__desc">Drama, Action | 2020</p>
      </li> -->
      <!-- <li class="hero-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="hero-list__img">
        <p class="hero-list__title">GREYHOUND</p>
        <p class="hero-list__desc">Drama, Action | 2020</p>
      </li> -->
      <!-- <li class="hero-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="hero-list__img">
        <p class="hero-list__title">GREYHOUND</p>
        <p class="hero-list__desc">Drama, Action | 2020</p>
      </li> -->
    </ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
