<section class="hero">
  <div class="container">
    <ul class="cart-list">
      <li class="cart-list__item">
        <div class="cart-list__tumb">
          <div class="img-container">
            <img src="../src/images/Rectangle.jpg" alt="" class="cart-list__img" width="293">
          </div>
          <p class="cart-list__title">GREYHOUND</p>
          <p class="cart-list__desc">Drama, Action | 2020</p>
        </div>
        
      </li>
      <li class="cart-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="cart-list__img">
        <p class="cart-list__title">GREYHOUND</p>
        <p class="cart-list__desc">Drama, Action | 2020</p>
      </li>
      <li class="cart-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="cart-list__img">
        <p class="cart-list__title">GREYHOUND</p>
        <p class="cart-list__desc">Drama, Action | 2020</p>
      </li>
      <li class="cart-list__item">
        <img src="../src/images/Rectangle.jpg" alt="" class="cart-list__img">
        <p class="cart-list__title">GREYHOUND</p>
        <p class="cart-list__desc">Drama, Action | 2020</p>
      </li>
    </ul>
  </div>
</section>