<section class="hero" >
  <h2 class="is-hidden">Filmoteka</h2>
  <div class="container">
    <div class="loader js-loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>
    <ul class="hero-list"></ul>
    <button type="button" class="back_to_top">
      <svg class="buttonUP" width="50" height="50">
        <use href="./images/symbol-defs.svg#icon-circle-up"></use>
      </svg>
    </button>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
