<!-- modal for hbs-->
<div class="modal">
    <div class="modal__wrapper">
        <button class="modal__btn-close js-modal__btn-close">
            <svg width="30px" height="30px">
                <use class="modal__svg-close" href="../src/images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal__img-container">
            <img src="../src/images/Rectangle.jpg" alt="">
        </div>
        <div class="modal__text-container">
            <ul class="modal__list">
                <li class="modal__item">
                    <h2 class="modal__title">A FISTFUL OF LEAD</h2>
                </li>
                <li class="modal__item">
                    <p class="modal_text">Vote / Votes</p>
                    <span class=" modal__text-dark modal__reting">7.8 <span>1260</span></span>
                </li>
                <li class="modal__item">
                    <p class="modal_text">Popularity</p>
                    <span class='modal__text-dark'>100.2</span>
                </li>
                <li class="modal__item">
                    <p class="modal_text">Original Title</p>
                    <span class='modal__text-dark'>A FISTFUL OF LEAD</span>
                </li>
                <li class="modal__item">
                    <p class="modal_text">Genre</p>
                    <span class='modal__text-dark'>Western</span>
                </li>
            </ul>  
            <h3 class="modal_title-desctiption">About</h3>
            <p class="modal__description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how?</p>
            <ul class="modal__btn-container">
                <button>add to Watched</button>
                <button>add to queue</button>
            </ul>
        </div>
    </div>
</div>
