.fmodal{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(130, 130, 130, 0.45);
    opacity: 1;
    transition: opacity var(--transition), visibility var(--transition);
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 1024px){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 95%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 25px;
        background-color: var(--bg-text-cl);
        border-radius: 5px;
        background: rgb(94, 94, 94, 0.8);;

        @media screen and (min-width: 768px){
            max-width: 618px;
            padding-left: 28px;
            padding-right: 28px;
            padding-top: 42px;
            padding-bottom: 40px;
        }

        @media screen and (min-width: 1024px) {
            max-width: 1200px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 50px;
            padding-bottom: 40px;
        }
    }
}
.fcards-container {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;

    @media screen and (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

   
}

.fcard-container {
    flex-basis: 100%;
    border-radius: 5px;
    border-width: 10px;
    margin-bottom: 15px;
    border: 5px solid rgb(48, 48, 48);
    padding-bottom: 15px;
    background: rgb(48, 48, 48);
    

    @media screen and (min-width: 768px){
        flex-basis: calc((100% / 3) - 30px);
        // width: 220px;
         margin-right: 15px;
    }

    @media screen and (min-width: 1024px){
        flex-basis: calc((100% / 5) - 30px);
    }
}

.card-img {
    margin-bottom: 8px;
    border-radius: 5px;
    max-height: 356px;
    
    @media screen and (min-width: 768px){
        max-height: 200px;
    }

    @media screen and (min-width: 1024px){
       max-height: 250px; 
    }
}

.fname {
    text-align: center;
    margin-bottom: 5px;
    font-size: large;
    color: var(--accent-cl);
}

.fposition {
    text-align: center;
    color: white;
}

.fmodal__close-btn {

    display: block;
    position: absolute;
    text-align: center;
    border: none;
    background-color: transparent;
    transition: 0.6s;
    font-size: 25px;
    right: 5px;
    top: 5px;
    @media screen and (min-width: 768px){
        
        border-radius: 50%;
        width: 40px;
        height: 40px;
       

        &:hover {
            color: var(--accent-cl);
            transform: rotate(180deg);
        }

        &:active {
            color: white;
            background-color: var(--accent-cl);
            transform: rotate(180deg);
        }
    }
}

// .card-margin {
//     @media screen and (min-width: 1024px) {
//         margin-right: 50px;
//         margin-left: 50px;  
//     }
// }

// .card-margin2 {
//     @media screen and (min-width: 768px) and (max-width: 1023px){
//         margin-right: 20px;
//     }
// }