// footer
.footer {
    display: flex;
    align-items: center;
    color: var(--h-footer-cl);
    background-color: var(--bg-footer);
    padding-bottom: 29px;
    padding-top: 29px;
}

.footer__link {
    margin-left: 5px;
    color: var(--h-footer-cl);
    text-decoration:underline;
}

.footer__svgHeart {
    width: 14px;
    height: 12.75px;
    margin: 0px 10px;
}

.footer__text {
    padding-bottom: 10px;
    
}

.footer__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.17;
    
}

@media (min-width: 768px) {
    .footer__container {
    display: flex;}
    .footer__text{
    padding-right: 5px;
    padding-bottom: 0px;
    }  
    .footer__svgHeart {
    margin-bottom: auto;
    margin-top: auto;
}
}