
.librery {
  margin-bottom: 20px;
  font-size: 25px;
    padding-top: 45px; 
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
  background-size: cover;
  background-image:
  linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-mob2x-min.jpg);
  
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px; 
    padding-bottom: 75px; 
    background-image:
  linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-table-min.jpg);
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-table2x-min.jpg);
   
    }
  }
   @media screen and (min-width: 1024px) {
    padding-top: 40px; 
    padding-bottom: 95px; 
    background-image:
  linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-desk-min.jpg);
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
       rgba(0, 0, 0, 0.56),
       rgba(0, 0, 0, 0.56)
    ), url(../images/librery-desk2x-min.jpg);
    }
  }
}
.header {
  
&__navigation {
  display: flex;
  place-content: space-between;
  align-items: center;
   width: 100%;
}
&__link {
  display: flex;
  color: #FFFFFF;
  margin-left: 40px;
  
}
&__menu {
  display: flex;
  font-style: 400;
font-weight: 500;
font-size: 12px;
line-height: 1.17;
text-transform: uppercase;
color: #FFFFFF;

}
&__search {
  margin-top: 35px;
    @media screen and (min-width: 768px) {
    width: 336px;
    height: 20px;
    margin: auto;
  }
}
&__search-form {
  display: flex;
  justify-content: center;
  place-content: space-between;
  background-color: transparent;
   padding: 0;
   border: none;
   border-bottom: 1px solid #FFFFFF;
   margin-top: 35px;
}
&__input {
font-style: 400;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
display: flex;
align-items: center;

   background-color: transparent;
   padding: 0;
   border: none;
 
}
&__button {
    background-color: transparent;
   padding: 0;
   border: none;
  
}
&__logo {
    display: none;
   @media screen and (min-width: 768px) {
   display: flex;
   margin-left: 10px;
   }
}

.header__logo-svg {
  @media screen and (min-width: 768px) {
   display: flex;
  font-style: 400;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
align-items: center;
text-align: center;
color: #FFFFFF;
}
}
}
.header__link-home {
  position: relative;
}
.header__link-home::after {
        content: "";
        position: absolute;
        display: block;
        top: 15px;
        width: 100%;
        height: 4px;
        background-color:  #FF6B01;
        border-radius: 2px;
        cursor: pointer;
    }
